footer{
    width: 100%;
    background: #1a1a1a;
}
.footer__wrapper{
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    background: #1a1a1a;
}


/* ##################################### */

.footer__social{
    width: calc(100% / 3);
    background: #0d0d0d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.footer__social-title{
    margin: 1rem 0 1rem 0;
}
.footer__social-title h2{
    font-size: 2rem;
    color: white;
    font-family: var(--ff-titles);
    text-align: center;
    width: 100%;
    line-height: 100%; 
}
.footer__social-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
    margin-bottom: 1rem;
}
.footer__social-links{
    border:1px solid white;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    padding-bottom: 0;
}
.footer__social-links i{
    color: white;
}
.footer__social-links:hover{
    border:1px solid var(--yellow);
}
.footer__social-links:hover i{
    color: var(--yellow);
}
.footer__social-contact{
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
}
.footer__social-contact a{
    color: white;
}
.footer__social-contact a:hover {
    color: var(--yellow);
}
/* ##################################### */


/* ##################################### */
.footer__img{
    width: calc(100% / 3);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__img img{
    width: 275px;
    height: auto;
    display: block;
    filter: invert() drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.90));
}

/* ##################################### */


/* ##################################### */

.footer__nextEvent{
    width: calc(100% / 3);
    background: #0d0d0d;
    padding: 2rem;
}
.footer__nextEvent h2{
    font-size: 2rem;
    color: white;
    font-family: var(--ff-titles);
    text-align: center;
    width: 100%;
    line-height: 100%;
    margin-bottom: 1rem;
}
.footer__nextEvent-image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer__nextEvent-image img{
    width: 300px;
    height: auto;
    border-radius: 8px;
    filter: drop-shadow(10px 10px 8px rgba(0, 0, 0, 0.9));
    border: 8px double white;
    display: block;
}

.footer__nextEvent-image figure {
	position: relative;
    overflow: hidden;
}
.footer__nextEvent-image figure::before {
	position: absolute;
	top: 0;
	left: -175%;
	z-index: 2;
	display: block;
	content: '';
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255, 0.397) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.397) 100%);
	-webkit-transform: skewX(-35deg);
	transform: skewX(-35deg);    
}
.footer__nextEvent-image figure::before {
	-webkit-animation: shine 4s infinite;
	animation: shine 4s infinite;
}

.nextEvnet__info{
    background: #00F260;
    background: -webkit-linear-gradient(to left, #0575E6, #00F260);
    background: linear-gradient(to left, #0575E6, #00F260);
    color: white;
    font-family: var(--ff-titles);
    padding: 0.5rem 0;
    width: 200px;
    border-radius: 8px;
    margin: 2rem auto 0 auto;
    display: block;
    text-align: center;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.75);
    letter-spacing: 2px;
}
.nextEvnet__info:hover{
    background: #00F260;
    background: -webkit-linear-gradient(to right, #0575E6, #00F260);
    background: linear-gradient(to right, #0575E6, #00F260);
}

/* ##################################### */

.footer__nextEvent-image figure {
	position: relative;
    overflow: hidden;
}
.footer__nextEvent-image figure::before {
	position: absolute;
	top: 0;
	left: -175%;
	z-index: 2;
	display: block;
	content: '';
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255, 0.397) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.397) 100%);
	-webkit-transform: skewX(-35deg);
	transform: skewX(-35deg);    
}
.footer__nextEvent-image figure::before {
	-webkit-animation: shine 4s infinite;
	animation: shine 4s infinite;
}



@keyframes shine {
	100% {
		left: 125%;
	}
}


/*************MEDIAQUERIES**************/

@media (max-width: 1483px) {

}

@media (max-width: 1280px) {

}

@media (max-width: 1150px) {

}

@media (max-width: 950px) {/*2 REM padding*/

}

@media (max-width: 768px) {

}

@media (max-width: 576px) { /*1 REM padding*/

}

@media (max-width: 480px) {

}

@media (max-width: 455px) {

}

@media (max-width: 350px) {

}

/**************************************/