.rolitas__wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    background-image: url(../media/rolitas/45-degree-fabric-light.png); 
    /* margin-bottom: 8rem; */
    transform-origin: 50% 79%;
    transform: skew(0deg, 4deg);
}
.rolitas__wrapper > *{
    transform: skew(0deg, -4deg);
}
.rolitas__title{
    margin-bottom: 4rem;
    padding: 0 2rem;
}
.rolitas__title h2{
    font-size: 5rem;
    color: rgb(204, 204, 204);
    font-family: var(--ff-titles);
    text-transform: uppercase;
    line-height: 100%;
    text-align: center;
    text-shadow: 5px 5px 20px black;
}
.rolitas__container{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 0 2rem;
}
.rolitas__section{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 2rem;
    border-right: 4px dashed rgba(233, 221, 166, 0.4);
}
.rolitas__section-two{
    width: 70%;
    display: flex;
    flex-direction: row;
    gap: 2rem;  
}
.rolitas__article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;
}
.rolitas__section iframe{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.rolitas__article iframe{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.line1{
    width: 100%;
    height: 30px;
    background: rgba(0, 0, 0, 0.3);
    transform-origin: 50% 79%;
    transform: skew(0deg, 0deg);
    margin-bottom: 6rem;
    border-bottom: 4px dashed rgba(233, 221, 166, 0.4);
}

.line2{
    width: 100%;
    height: 30px;
    background: rgba(0, 0, 0, 0.3);
    transform-origin: 50% 79%;
    transform: skew(0deg, 0deg);
    margin-top: 8rem;
    border-top: 4px dashed rgba(233, 221, 166, 0.4);;
}

/*************MEDIAQUERIES**************/

@media (max-width: 1483px) { }

@media (max-width: 1280px) { }

@media (max-width: 1150px) {
    .rolitas__container{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .rolitas__section{
        width: 425px;
        padding-right:0;
        border-right: none;
    }
    .rolitas__section-two{
        width: 100%;
        padding-top: 2rem;
        border-top: 4px dashed rgba(233, 221, 166, 0.4);
    }
}

@media (max-width: 950px) {/*2 REM padding*/}

@media (max-width: 768px) {
    .rolitas__section-two{
        flex-direction: column;
    }
}

@media (max-width: 576px) { /*1 REM padding*/
    .rolitas__section{
        width: 80%;
    }
    .rolitas__container{
        padding: 0 1rem;
    }
    .rolitas__title{
        padding: 0 1rem;
    }
}

@media (max-width: 480px) { }

@media (max-width: 455px) { }

@media (max-width: 350px) { }

/**************************************/